    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>

    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav">
                <div class="d-flex justify-content-center uploader-status" style="margin-bottom: 20px;" *ngIf="this.codeE == ''">
                  <mat-spinner mode="indeterminate"></mat-spinner>
                </div>

                <div *ngIf="this.codeE != ''">
                    <img class="avatar mat-elevation-z8" src="{{profileImage}}"/>
                    <h4 class="name">{{name}} {{surname}}</h4>
                    <p class="designation">{{rank}}</p>
                </div>
            <mat-divider></mat-divider>

            <div style="font-size: 1rem;">General</div>

            <mat-divider></mat-divider>
            
            <button mat-button class="menu-button" routerLink="/dashboard/inicio" routerLinkActive="active">
                <mat-icon>home</mat-icon>
                <span>Inicio</span>
            </button>

            <button mat-button class="menu-button" routerLink="/dashboard/perfil" routerLinkActive="active">
                <mat-icon>person</mat-icon>
                <span>Perfil</span>
            </button>
            
            <div class="administration" *ngIf="rank == 'Administrador'">
                <mat-divider></mat-divider>

                <div style="font-size: 1rem;">Administración</div>

                <mat-divider></mat-divider>

                <button mat-button class="menu-button" routerLink="/dashboard/administration/users" routerLinkActive="active" (click)="this.crud.codeE = codeE">
                    <mat-icon>supervisor_account</mat-icon>
                    <span>Usuarios</span>
                </button>

                <button mat-button class="menu-button" routerLink="/dashboard/ventas" routerLinkActive="active" (click)="this.crud.codeE = codeE">
                    <mat-icon>timeline</mat-icon>
                    <span>Ventas</span>
                </button>

                <button mat-button class="menu-button" routerLink="/dashboard/compras" routerLinkActive="active" (click)="this.crud.codeE = codeE">
                    <mat-icon>add_shopping_cart</mat-icon>
                    <span>Compras</span>
                </button>

                <button mat-button class="menu-button" routerLink="/dashboard/contaduria/reportes" routerLinkActive="active" (click)="this.crud.codeE = codeE">
                  <mat-icon>paid</mat-icon>
                  <span>Reportes</span>
                </button>
                
            </div>

            <div class="ventas" *ngIf="rank == 'Vendedor'">
                <mat-divider></mat-divider>

                <div style="font-size: 1rem;">Vendedor</div>

                <mat-divider></mat-divider>

                <button mat-button class="menu-button" routerLink="/dashboard/ventas" routerLinkActive="active" (click)="this.crud.codeE = codeE">
                    <mat-icon>timeline</mat-icon>
                    <span>Ventas</span>
                </button>
            </div>

            <div class="compras" *ngIf="rank == 'Comprador'">
                <mat-divider></mat-divider>

                <div style="font-size: 1rem;">Comprador</div>

                <mat-divider></mat-divider>

                <button mat-button class="menu-button" routerLink="/dashboard/compras" routerLinkActive="active" (click)="this.crud.codeE = codeE">
                    <mat-icon>add_shopping_cart</mat-icon>
                    <span>Compras</span>
                </button>
            </div>

            <div class="contador" *ngIf="rank == 'Contador'">
              <mat-divider></mat-divider>

              <div style="font-size: 1rem;">Contaduría</div>

              <mat-divider></mat-divider>

              <button mat-button class="menu-button" routerLink="/dashboard/contaduria/reportes" routerLinkActive="active" (click)="this.crud.codeE = codeE">
                  <mat-icon>paid</mat-icon>
                  <span>Reportes</span>
              </button>
          </div>

            <mat-divider></mat-divider>

            <div class="position-absolute bottom-0 mb-1">
              <button mat-button class="menu-button" routerLinkActive="active" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesión</span>
              </button>
            </div>
          
            </mat-sidenav>

            <mat-sidenav-content>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
            </mat-sidenav-content>
    </mat-sidenav-container>

       <!-- Modal Usuarios -->
       <div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Usuario : {{this.crud.nameUser}} {{this.crud.surnameUser}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editarFormUser">
                <label class="form-label newRank">Nuevo Rango:</label>
                <select class="form-select text-space btn-borders" formControlName="rango">
                  <option value="Comprador">Comprador</option>
                  <option value="Vendedor">Vendedor</option>
                  <option value="Contador">Contador</option>
                </select>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary borders" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary borders"  data-bs-dismiss="modal" [disabled]="!this.editarFormUser.valid" (click)="changeRank()">Guardar Cambios</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Ventas -->
      <div class="modal fade" id="editVenta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Venta De : {{this.crud.productName}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editarFormVentas">
                <label class="form-label label">Vendedor</label>
                <input type="text" class="form-control btn-borders" style="margin-bottom: 20px;" [ngModel]="employee" placeholder="El nombre del vendedor se asigna automaticamente" formControlName="seller" readonly>
                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label">Producto:</label>
                    <input type="text" class="form-control btn-borders" placeholder="Producto Vendido" formControlName="productName">
                    <br>
                    <label class="form-label">Cantidad Vendida:</label>
                    <input type="number" class="form-control btn-borders" [(ngModel)]="amount" placeholder="Número De Unidades" formControlName="amount">
                  </div>
                  <div class="col">
                    <label class="form-label">Precio Unitario:</label>
                    <input type="number" class="form-control btn-borders" [(ngModel)]="unitPrice" placeholder="Valor De Cada Producto" formControlName="unitPrice">
                    <br>
                    <label class="form-label">Precio Total:</label>
                    <input type="number" class="form-control btn-borders" [ngModel]="amount*unitPrice" placeholder="Se calcula automaticamente" formControlName="totalPrice" readonly>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary borders" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary borders"  data-bs-dismiss="modal" [disabled]="!this.editarFormVentas.valid" (click)="changeSale()">Guardar Cambios</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Compras -->
      <div class="modal fade" id="editCompra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Compra De : {{this.crud.productName}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editarFormCompras">
                <label class="form-label label">Comprador</label>
                <input type="text" class="form-control btn-borders" style="margin-bottom: 20px;" [ngModel]="employee" placeholder="El nombre del vendedor se asigna automaticamente" formControlName="buyer" readonly>
                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label">Producto:</label>
                    <input type="text" class="form-control btn-borders" placeholder="Producto Comprado" formControlName="productName">
                    <br>
                    <label class="form-label">Cantidad Comprada:</label>
                    <input type="number" class="form-control btn-borders" [(ngModel)]="amount" placeholder="Número De Unidades" formControlName="amount">
                  </div>
                  <div class="col">
                    <label class="form-label">Precio Unitario:</label>
                    <input type="number" class="form-control btn-borders" [(ngModel)]="unitPrice" placeholder="Valor De Cada Producto" formControlName="unitPrice">
                    <br>
                    <label class="form-label">Precio Total:</label>
                    <input type="number" class="form-control btn-borders" [ngModel]="amount*unitPrice" placeholder="Se calcula automaticamente" formControlName="totalPrice" readonly>
                  </div>
                </div>
                <label class="form-label label">Proveedor</label>
                <input type="text" class="form-control btn-borders" style="margin-bottom: 20px;" placeholder="Nombre Proveedor" formControlName="provider">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary borders" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary borders"  data-bs-dismiss="modal" [disabled]="!this.editarFormCompras.valid" (click)="changeBuy()">Guardar Cambios</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Eliminar Cuenta -->
      <div class="modal fade" id="deleteConfirmation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar Cuenta</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="deleteForm">
                <input type="text" class="form-control btn-borders" style="margin-bottom: 0px;" placeholder='Escribe "CONFIRMAR" si deseas eliminar tu cuenta' formControlName="confirmation">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary borders" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-danger borders"  data-bs-dismiss="modal" [disabled]="confirmationDelete()" (click)="this.auth.delete(this.crud.idDelete)">ELIMINAR</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Eliminar Cuenta Admin -->
      <div class="modal fade" id="deleteUserConfirmation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar Cuenta</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="deleteForm">
                <input type="text" class="form-control btn-borders" style="margin-bottom: 0px;" placeholder='Escribe "CONFIRMAR" si deseas eliminar el usuario' formControlName="confirmation">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary borders" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-danger borders"  data-bs-dismiss="modal" [disabled]="confirmationDelete()" (click)="this.deleteUser()">ELIMINAR</button>
            </div>
          </div>
        </div>
      </div>