.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ffffff;
}

mat-toolbar {
    background: rgb(127, 81, 255);
    color: white;
}

mat-sidenav {
    display: flex;
    margin: 12px;
    width: 200px;
    border-right: none;
    background: rgb(127, 81, 255);
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 32px);
    margin-right: 16px;
    margin-left: 32px;
}

mat-sidenav-container {
    background-color: white;
    height: 100vh;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}

.name{
    margin: 0;
    margin-top: 10px;
    font-weight: normal;
}

.designation{
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgray;
}

@media (max-width: 800px) {
    .content {
        height: calc(100vh - 98px);;
    }
    
    mat-sidenav-container {
        height: calc(100vh - 65px);
    }
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.active{
    background-color: rgb(193, 171, 255);
    /* Firefox */
    -moz-transition: all 0.15s ease-in;
    /* WebKit */
    -webkit-transition: all 0.15s ease-in;
    /* Opera */
    -o-transition: all 0.15s ease-in;
    /* Standard */
    transition: all 0.15s ease-in;
}

mat-divider{
    margin-top: 6px;
    margin-bottom: 6px;
}

.modal-title{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0%;
    padding-bottom: 0%;
    color:rgb(127, 81, 255);
}

.newRank{
    font-size: 1.3rem;
    font-weight: 400;
}

.new-rank{
    font-size: 1.3rem;
}

.text-space{
    height: 37px;
    border-radius: 20px;
    padding-left: 10px;
    margin-right: 10px;
}

.btn-primary{
    background-color: rgb(127, 81, 255);
}

.btn-borders{
    border-radius: 20px;
    border: 1px solid rgb(127, 81, 255);
}

.borders{
    border-radius: 20px;
}

