<div class="container">
        <h4 class="principal-title">Ventas</h4>
        <hr class="purple-bar">
        <div class="box">
            <div class="container">
                <p class="text-center mt-4">
                    <a class="fw-1 collapseTitle" data-bs-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false" aria-controls="collapseForm">
                        Nueva Venta
                        </a>
                </p>
                <div>
                      <div class="collapse" id="collapseForm">
                        <div class="card card-body mb-3" >
                            <form [formGroup]="new" >
                                <label class="form-label label">Vendedor</label>
                                <input type="text" class="form-control btn-borders" style="margin-bottom: 20px;" [ngModel]="employee" placeholder="El nombre del vendedor se asigna automaticamente" formControlName="seller" readonly>
                                <label class="form-label label">Número de factura</label>
                                <input type="number" class="form-control btn-borders" style="margin-bottom: 20px;" [ngModel]="employee" placeholder="Digite el número de la factura" formControlName="billNumber">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="form-label label">Producto Vendido</label>
                                        <input type="text" class="form-control btn-borders" placeholder="Nombre Producto" formControlName="productName">
                                        <br>
                                        <label class="form-label label">Precio Unitario</label>
                                        <input type="number" class="form-control btn-borders" [(ngModel)]="unitPrice" placeholder="Valor De Cada Producto" min="1" formControlName="unitPrice">
                                    </div>
                                    <div class="col">
                                        <label class="form-label label">Cantidad Vendida</label>
                                        <input type="number" class="form-control btn-borders" [(ngModel)]="amount" min="1" placeholder="Número De Unidades" formControlName="amount">
                                        <br>
                                        <label class="form-label label">Precio Total</label>
                                        <input type="number" class="form-control btn-borders" [ngModel]="amount*unitPrice" placeholder="Se calcula automaticamente" formControlName="totalPrice" readonly>
                                    </div>
                                </div>
                                <button class="btn btn-borders" style="width: 100%; margin-top: 20px; margin-bottom: 20px; background-color: rgb(127, 81, 255); color: white;" (click)="addSell()">Agregar</button>
                            </form>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nº Factura</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Valor Unitario</th>
                <th scope="col">Valor Total</th>
                <th scope="col">Editar / Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data">
                <td>{{item.billNumber}}</td>
                <td>{{item.seller}}</td>
                <td>{{item.productName}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.unitPrice}}</td>
                <td>{{item.totalPrice}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#editVenta" (click)="select(item.id.id, item.productName, item.amount, item.unitPrice, item.totalPrice)">Editar</button>
                        <button type="button" class="btn btn-danger" (click)="deleteSell(item.id.id)">Eliminar</button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
</div>
        