.main-text{
    text-align: center;
    padding-top: 40vh;
    font-size:3rem;
    font-weight: 500;
}

.left-text{
    text-align: center;
    padding-top: 1.5vh;
    font-size: 1.5em;
    font-weight: 200;
}