.content{
    display:flex;
    justify-content: center;
    height: 100vh;
    width:100%;
}

.title{
    margin-bottom: 3vh;
    text-align: center;
    align-items: center;
    padding-top: 6vh;
    padding-bottom: 1vh;
    font-size: 4em;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

hr{
    margin-top: 0%;
    padding-top: 0%;
    height: 6px;
    width: 280px;
    background-color: rgb(0, 0, 0);
}

.main-text{
    font-size: 1.5em;
    font-weight: 350;
    color: black;
}

@media(max-width: 800px){
    .main-text{
        line-height: 30px;
    }
}