<div class="init d-flex w-100 h-100 justify-content-center align-items-center ">
    <div class="container">
        <div class="content d-flex w-100 h-100 justify-content-center align-items-center ">
          <div class="row">
            <div class="col-md-6 left">
              <div class="text-center">
                <p class="title">Accede</p>
                <p class="paragraph">Obten acceso a todas las funcionalidades de TechnoAccounting
                  iniciando sesión en el formulario de la derecha. Si no tienes una cuenta puedes
                  solicitar acceso en el formulario de registro.
                </p>
                <img style="object-fit: contain; margin-bottom: 2vh;" src="../../assets/static/images/login/lock.png" alt="">
              </div>
            </div>
            <div class="col right  d-flex flex-column justify-content-center align-items-center">
              <p class="login text-center">Iniciar Sesión</p>
                    <form [formGroup]="LoginForm" style="width: 95%;" class="form-login">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                          <input type="email" class="form-control text-space" id="exampleInputEmail1" formControlName="email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                          <input type="password" class="form-control text-space" id="exampleInputPassword1" formControlName="password">
                          <a class="modalLink" data-bs-toggle="modal" data-bs-target="#recuperarModal">¿Olvidaste tu contraseña?</a>
                        </div>  
                        <p class="text-cemter">
                          <button type="submit" class="btn btn-login w-100 btn-borders py-2" (click)="login()" [disabled]="!this.LoginForm.valid">Iniciar</button>
                        </p>
                        <p class="text-cemter">
                          <button class="btn btn-volver w-100 btn-borders py-2" routerLink="/landing">Volver</button> 
                        </p>
                        <div class="text-center">
                          <a routerLink="/register">Solicita una cuenta aquí</a>
                        </div>
                    </form>
            </div>
          </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="recuperarModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recuperar Contraseña </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="RecoveryForm" class="form-register">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
            <input type="email" class="form-control text-space" id="exampleInputEmail1" formControlName="email">
          </div>
          <button type="submit" class="btn btn-login w-100 btn-borders" data-bs-dismiss="modal" (click)="reset()" [disabled]="!this.RecoveryForm.valid">Recuperar Contraseña</button>
          <button class="btn btn-volver w-100 btn-borders" data-bs-dismiss="modal">Volver</button> 
      </form>
      </div>
    </div>
  </div>
</div>

