

.init{
    position: absolute;
    margin:0%;
    height:100vh;
    width:100%;
    background-color: rgb(237, 231, 255);
}

.content{
    position: relative;
    height:80vh;
    width:100%;
}

.modal-title{
    padding-top:2vh;
    position: absolute;
    font-size: 1.5em;
    text-align: center;
}

.left{
    height:100%;
    background-color: rgb(127, 81, 255);
    border-radius: 7px 0px 0px 7px;
    -moz-border-radius: 7px 0px 0px 7px;
    -webkit-border-radius: 7px 0px 0px 7px;
    box-shadow: 20px 20px 30px rgba(109, 109, 109, 0.692);
    -webkit-box-shadow: 20px 20px 30px rgba(109, 109, 109, 0.692);
    -moz-box-shadow: 20px 20px 30px rgba(109, 109, 109, 0.692);
}

.title{
    margin-top: 5vh;
    margin-bottom: 3vh;
    color: white;
    font-size: 3rem ;
}

.paragraph{
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 1.5rem;
    line-height:5vh;
    color: white;
}

img{
    margin-left: 4vw;
    height:auto;
    width:20vw;
}

.right{
    width:40%;
    background-color: white;
    border-radius: 0px 7px 7px 0px;
    -moz-border-radius: 0px 7px 7px 0px;
    -webkit-border-radius: 0px 7px 7px 0px;
    box-shadow: 20px 20px 30px rgba(109, 109, 109, 0.692);
    -webkit-box-shadow: 20px 20px 30px rgba(109, 109, 109, 0.692);
    -moz-box-shadow: 20px 20px 30px rgba(109, 109, 109, 0.692);
}

.login{
    margin-bottom: 3vh;
    font-size: 3rem;
    font-weight: 400;
}

.form-login{
    margin-left: 2vw;
    margin-right: 2vw;
}

.text-space{
    height: 45px;
    border-radius: 20px;
    padding-left: 10px;
    margin-right: 10px;
    border: 1px solid rgb(127, 81, 255);
}

.btn-login{
    background-color: rgb(127, 81, 255); 
    color: white;
}

.btn-volver{
    margin-top: 1vh;
    margin-bottom: 2vh;
    background-color: rgb(129, 129, 129);
    color: white;
}

.btn-borders{
    border-radius:20px;
}

a{
    text-decoration: none;
}

.modalLink{
    color: rgb(26, 75, 255);
    cursor: pointer;
}


