<div class="container">
    <div class="content">
        <div class="box">
            <div class="container">
                <p class="title">Registrar Empresas</p>
                <hr>
                <div class="row">
                    <div class="col-md-10">
                        <form [formGroup]="new" (submit)="addBusiness()">
                        <label class="form-label">Nombre de la Empresa</label>
                        <input type="text" class="form-control" placeholder="Nombre Empresa" formControlName="name">
                        </form>
                    </div>
                    <div class="col">
                        <button class="btn btn-success btn-agregar btn-borders" (click)="addBusiness()">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre de la Empresa</th>
                <th scope="col">Código de la empresa</th>
                <th scope="col">Editar / Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data">
                <td>{{item.name}}</td>
                <td>{{item.id.id}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#edit" (click)="select(item.id.id, item.name)">Editar</button>
                        <button type="button" class="btn btn-danger" (click)="deleteBusiness(item.id.id)">Eliminar</button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
        <!-- Modal Nombre -->
        <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Empresa: {{this.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="editarForm">
                  <label class="form-label label">Nuevo Nombre:</label>
                  <input type="text" class="form-control" placeholder="Nuevo Nombre Empresa" formControlName="name">
                  <button type="button" class="btn btn-primary" style="margin-top: 20px;" data-bs-toggle="modal" data-bs-target="#selectAdmin" data-bs-dismiss="modal" (click)="this.crud.getAdminData('codeE', this.id, '/users' );">Seleccionar Administrador</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="editar(this.id)" data-bs-dismiss="modal" [disabled]="!this.editarForm.valid">Guardar Cambios</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Admin -->
        <div class="modal fade" id="selectAdmin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seleccionar administrador de : {{this.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="selectAdminForm">
                  <label class="form-label label">Nuevo Administrador:</label>
                  <select class="form-select text-space" formControlName="idNewAdmin">
                    <option *ngFor="let item of adminData" value="{{item.id.id}}">{{item.name}} {{item.surname}}</option>
                  </select>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="this.selectAdmin()" data-bs-dismiss="modal" [disabled]="!this.selectAdminForm">Guardar Cambios</button>
              </div>
            </div>
          </div>
        </div>