<div class="container">
    <h4 class="principal-title">Reportes</h4>
    <hr class="purple-bar">
    <div class="box">
        <div class="container">
            <p class="text-center mt-4">
                <a class="fw-1 collapseTitle" data-bs-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false" aria-controls="collapseForm">
                    Agregar Reporte
                    </a>
            </p>
            <div>
                  <div class="collapse" id="collapseForm">
                    <div class="card card-body mb-3" >
                        <form [formGroup]="new">
                            <label class="form-label label">Contador</label>
                            <input type="text" class="form-control btn-borders" style="margin-bottom: 20px;" [ngModel]="employee" placeholder="El nombre del vendedor se asigna automaticamente" formControlName="accountant" readonly>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label label">Fecha del reporte</label>
                                    <input type="month" class="form-control btn-borders" formControlName="date">
                                </div>
                                <div class="col">
                                  <label class="form-label label">Tipo de reporte</label>
                                  <select class="form-select btn-borders" formControlName="type">
                                    <option value="Compras">Compras</option>
                                    <option value="Ventas">Ventas</option>
                                  </select>
                                </div>
                                <input type="file" class="form-control choose-file" accept=" .docx, .xlsx, .pdf, .png" style="margin-top: 28px; margin-left: 10px; margin-right: 10px;" (change)="getEvent($event)">
                            </div>
                            <button class="btn btn-borders" style="width: 100%; margin-top: 20px; margin-bottom: 20px; background-color: rgb(127, 81, 255); color: white;" (click)="uploadFile(this.event)" [disabled]="!this.new.valid">Agregar</button>
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <button class="btn btn-success btn-borders w-100" (click)="exportAsExcelBuys()" style="border-radius: 20px">Generar consulta compras</button>
      </div>
      <div class="col">
        <button class="btn btn-success btn-borders w-100" (click)="exportAsExcelSells()" style="border-radius: 20px">Generar consulta ventas</button>
      </div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Contador</th>
            <th scope="col">Tipo De Reporte</th>
            <th scope="col">Fecha de subida del reporte (Día - Mes - Año)</th>
            <th scope="col">Fecha a la que corresponde el reporte</th>
            <th scope="col">Descarga</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{item.accountant}}</td>
            <td>{{item.type}}</td>
            <td>{{item.uploadedDate}}</td>
            <td>{{item.date}}</td>
            <td>
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-purple btn-borders" href="{{item.urlFile}}" target="_blank">Descargar</a>
                </div>
            </td>
          </tr>
        </tbody>
      </table>