.content{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

.col-md-6{
    margin-left: 30px;
    padding: 60px;
}

.title-text{
    font-size: 4em;
    font-weight: bold;
    color: black;
    text-align: center;
}

hr{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    height: 6px;
    width: 70%;
    background-color: rgb(0, 0, 0);
}

.simple-text{
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 10%;
    text-align: center;
    line-height: 30px;
}

.main{
    height:100vh;
    width:100%;
    background: linear-gradient(-45deg, #7f51ff, #8671be, #423567, #9670fe);
	background-size: 400% 400%;
    -webkit-animation: gradient 4s ease infinite;
    -moz-animation: gradient 4s ease infinite;
    -o-animation: gradient 4s ease infinite;
    animation: gradient 4s ease infinite;
    border-radius: 0% 7% 0% 100% / 10% 0% 10% 94% ;
    -moz-border-radius: 0% 7% 0% 100% / 10% 0% 10% 94% ;
    -webkit-border-radius: 0% 7% 0% 100% / 10% 0% 10% 94% ;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.img-main{
    margin-top: 12%;
    margin-left: 25%; 
    height: auto; 
    width: 72%;
}


