<div class="content">
    <div class="row h-100">
        <div class="col-md-6 h-100 d-flex flex-column justify-content-center align-items-center">
            <h4 class="title-text">TECHNO<span style="color: #a856b5">ACCOUNTING</span></h4>
            <hr>
            <h5 class="simple-text">
                <span style="font-weight: bold;">Techno</span><span style="color: #a856b5; font-weight: bold;">Accounting</span> es un programa diseñado por PDD Company, compañía conformada por 
                un grupo de estudiantes que busca facilitar la gestión administrativa 
                de las empresa o negocios a traves de softwares asequibles y confiables.
                En este caso, el software desarrollado está destinado a sistematizar
                y simplificar la generación de reportes sobre las ventas y las compras
                realizadas por las empresas y negocios
            </h5>
        </div>
        <div class="col">
            <div class="main">
                <img class="img-main" src="../../../assets/static/logo/logo3.png">
            </div>
        </div>
    </div>
</div>
