<div class="init" id="init">
    <div class="container">
        <div class="row">
            <div class="col-md-6 main-text">
                        <div class="principal-text">
                            <p>Techno-</p>
                            <p>accounting</p>
                        </div>
                        <div class="secondary-text">
                            <p>Techno-accountig es un programa contable destinado a sistematizar y 
                                simplificar las tareas de contabilidad de las empresas y/o negocios.</p>  
                        </div>
                    </div>
                        <div class="rounded-square">
                            <div class="col main-image">
                                <img src="../../../assets/static/images/landing/main-image.png">
                            </div>
                        </div>                 
        </div>
    </div>
</div>
