<div class="content">
    <div class="principal">
        <h4 class="title">Modificar Perfil</h4>
        <hr>
            <div>
                <h2 class="photo-title">Foto de Perfil</h2>
                <p class="main-text">Puedes seleccionar una nueva foto de perfil desde tu dispositivo para personalizar tu perfil.</p>
                <p class="little-text">Tu foto de perfil la puedes ver al lado izquierdo, en la barra de navegación.</p>
                <div class="input-group mb-3">
                <input type="file" class="form-control choose-file" accept=" .png, .jpg, .jpeg" (change)="uploadFile($event)">
                </div>
            </div>
            <hr>
    </div>
</div>