<div class="content container">
    <div class="principal">
        <h4 class="title">Modificar Perfil</h4>
        <div *ngIf="this.crud.rank != 'Eliminado'">
            <hr>
            <div>
                <h2 class="photo-title">Foto de Perfil</h2>
                <p class="main-text">Puedes seleccionar una nueva foto de perfil desde tu dispositivo para personalizar tu perfil.</p>
                <p class="little-text">Tu foto de perfil la puedes ver al lado izquierdo, en la barra de navegación.</p>
                <div class="input-group mb-3">
                <input type="file" class="form-control choose-file" accept=" .png, .jpg, .jpeg" (change)="uploadFile($event)">
                </div>
            </div>
        </div>
            <hr>
            <div>
                <h2 class="photo-title">Eliminar Usuario</h2>
                <p class="main-text">Esta acción es irreversible. Puede representar una perdida de información importante</p>
                <div class="input-group mb-3">
                <button type="button" class="btn btn-danger" style="border-radius: 20px;" data-bs-toggle="modal" data-bs-target="#deleteConfirmation">Eliminar Usuario</button>
                </div>
            </div>
    </div>
</div>