<div class="init" id="about-us">
    <div class="container">
        <div class="all">
            <div class="rounded-square">
                <div class="main-text">
                    <p class="principal-text">Acerca de</p>
                    <p class="principal-text">nosotros</p>
                    <p class="second-text">Somos un grupo de estudiantes que busca facilitar
                        la gestión contable de su empresa o negocio a traves de un software
                        asequible y confiable
                    </p>
                </div>
                <div class="image">
                    <img src="../../../assets/static/images/landing/second-image.png">
                </div>
            </div>
        </div>
    </div>
</div>