.init{
    height:90vh;
    width:100%;
    background-color:  rgb(255, 255, 255);
}
.all{
    position: absolute;
    margin-top: 12vh;
}

.rounded-square{    
    margin-top: 2.5vw;
    margin-left: 5vw;
    margin-right: 2.5vw;
    height:21vw;
    width:70vw;
    background-color: rgb(207, 207, 207);
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 0px 2px 3px 2px rgba(109, 109, 109, 0.692);
    -webkit-box-shadow: 0px 2px 3px 2px rgba(109, 109, 109, 0.692);
    -moz-box-shadow: 0px 2px 3px 2px rgba(109, 109, 109, 0.692);
    
}

.main-text{
    position:absolute;
    margin-top: 8vh;
    margin-left:1vw;
}

.principal-text{
    margin-left:8vw;
    font-size: 3rem;
    font-weight: 500;
    line-height: 4vh;
}

.second-text{
    margin-left:8vw;
    width:34vw;
    line-height: 4vh;
}

.image{
    margin-left: 38vw;
}

img{
    height:57vh;
    width:40vw;
}