.content{
    padding-top: 0vh;   
}

.title{
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 1vh;
    font-size: 5em;
    font-weight: 400;
    color: rgb(127, 81, 255);
}

hr{
    margin-top: 0%;
    padding-top: 0%;
    height: 6px;
    width: 100%;
    background-color: rgb(127, 81, 255);
}

.btn-borders{
    margin-top: 20px;
    border-radius: 20px;
}


