.nav-link{
    color: rgb(0, 0, 0);
    font-size: 1.0rem; 
    font-weight: 500;
}

.btn-register{
    margin-left: 1vw;
}

.login-btn{
    background-color: #7f51ff;
    color: white;
}

.register-btn{
    margin-left: 1vw;
    background-color: rgb(58, 170, 54);
    color: white;
}

img{
    height:90px;
    width:90px;
}