.navbar{
    background-color: white;
}

.btn-register{
    margin-left: 1vw;
}

.login-btn{
    background-color: rgb(127, 81, 255);
    color: white;
}

.register-btn{
    margin-left: 1vw;
    background-color: rgb(58, 170, 54);
    color: white;
}