<div class="init d-flex w-100 h-100 justify-content-center align-items-center ">
    <div class="container">
        <div class="content  d-flex w-100 h-100 justify-content-center align-items-center">
          <div class="row">
            <div class="col-md-6 left">
              <div class="text-center">
                <p class="title">Registrate</p>
                <p class="paragraph">Desbloquea todas las funcionalidades de TechnoAccounting
                  disponibles para tu compañia registrandote en el formulario de la derecha.
                </p>
                <img src="../../assets/static/images/register/" alt="">
              </div>
            </div>
            <div class="col right">
              <p class="login text-center">Registro</p>
                    <form [formGroup]="RegisterForm" class="form-login" >
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Correo Electronico</label>
                                <input type="email" class="form-control text-space" formControlName="email">
                            </div>  
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Nombre</label>
                                    <input type="text" class="form-control text-space" formControlName="name">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tipo de Documento</label>
                                    <select2 type="text" class="form-control text-space" [data]="Select2Data" formControlName="tipDocu"></select2>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Contraseña</label>
                                    <input type="password" class="form-control text-space" formControlName="password">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label">Apellido</label>
                                    <input type="text" class="form-control text-space" formControlName="surname">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Número de Documento</label>
                                    <input type="text" class="form-control text-space" formControlName="numDocu">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Confirmar Contraseña</label>
                                    <input type="password" class="form-control text-space" formControlName="confirmPassword">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Código de Empresa</label>
                            <input type="text" class="form-control text-space" formControlName="codeE">
                        </div>
                        <p class="text-center">
                            <button type="submit" class="btn btn-login w-100 btn-borders py-2" [disabled]="!this.RegisterForm.valid" (click)="register()">Registrar</button>
                        </p>
                        <p class="text-center">
                            <button type="submit" class="btn btn-volver w-100 btn-borders py-2" routerLink="/landing">Volver</button>
                        </p>
                    </form>
            </div>
          </div>
        </div>
    </div>
</div>