<div class="init">
    <div class="container">
        <div class="content">
            <div class="rounded-square">
                <div class="into">
                    <form>
                        <div class="row">
                            <div class="col-md-6 left">
                                <div class="mb-3">
                                    <label class="form-label">Nombre</label>
                                    <input type="text" class="form-control text-space">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tipo de Documento</label>
                                    <select2 class="select2-custom" [data]="Select2Data"></select2>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label">Apellido</label>
                                    <input type="text" class="form-control text-space">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Número de documento</label>
                                    <input class="form-control text-space">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>